@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GeistMono-Medium;
  src: url(./assets/fonts/GeistMono-Regular.otf);
}

.sb-main-padded {
  margin: 0 !important;
  padding: 0 !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

:root {
  /* background-color: #1A1A1E; */
}

body {
  font-family: Rubik Variable, 'Geist Mono Regular', 'Roboto', 'sans-serif',;
}

.gradient-text {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300% 300%;
  background-clip: text;
}

.button-gradient {
  background: linear-gradient(90deg, rgba(116,208,240,1) 0%, rgba(225,187,230,1) 27%, rgba(19,129,242,1) 100%);
}

.text-gradient {
  background: linear-gradient(
    to right,
    #a855f7,
    #ec4899,
    #eab308,
    #ec4899,
    #a855f7,
    #ec4899,
    #eab308
  );
  background-size: 300% 300%;
  background-clip: text;
}