name: Generate tag version
on:
  workflow_dispatch:
    inputs:
      version:
        description: New version
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  version:
    name: Create new version ${{ github.event.inputs.version }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Use Node.js 20.x
        uses: actions/setup-node@v1
        with:
          node-version: '20.x'

      - name: Generate new version
        run: npm version ${{ github.event.inputs.version }}

      - name: Push new version tag to repository
        env: 
          UMBRIEL_COMPONENTS_TOKEN: ${{ secrets.UMBRIEL_COMPONENTS_TOKEN }}
        run: |
          git remote set-url origin https://mateusPPinh:$(echo $UMBRIEL_COMPONENTS_TOKEN)@github.com/Umbriel-CMS/umbriel-stories.git
          git push origin develop --tags
